* {
    cursor: url("fingerprint.png"), auto;
    padding: 0px;
    margin: 0px;
}

nav, #lifestory{
    font-family: "Delicious Handrawn", sans-serif;
}

nav{
    background-color: darkcyan;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    padding: 10px 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #005A5A
}

main{
    display: flex;
    font-family: Alkatra;
}

#lifestory{
    background-color: #59C5C5;
    width: 300px;
    min-width: 300px;
    height: 900px;
    padding: 10px;

}
#lifestory h2{
    text-align: center;
}

#lifestory li{
    padding-bottom: 30px;
    list-style: none;
    font-size: 1.5em;

}
@media screen and (max-width: 800px) {
    #lifestory{
        display: none;
    }
}

article{
    width: 60vw;
    padding: 20px;
    margin: auto;

}

article h1{
    text-align: center;
    font-size: 2em;
    color:#005A5A;
    background-color: white;
}

.likes-block{
    border: 5px dotted #31C5C5;
    border-bottom: 0px;
    display: flex;
    justify-content:space-between;
}

.likes-block:last-child{
    border-bottom: 5px dotted #31C5C5;
}


.likes-block *{

    width: 20vw;
    text-align: left;
    font-size: 4em;

}

footer{
    font-family: sans-serif;
    padding: 10px;
    font-style:unset;
    text-align: right;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#gallery img{
    height: 300px;
    width: 300px;
    padding: 10px;
    transition: all 2s;
}
#gallery img:hover{
    transform:scale(1.5)
}

#main_form{
    background-image:
     linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8)),
     url("main.jpg") ;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color:rgba(0, 0, 0, .5);
    padding: 20px 0px;

}

form{
    font-family: Alkatra;
    text-align: center;
    padding: 30px 20px;
    width: fit-content;
    margin: auto;
    border: 10px #005A5A solid;
    border-radius: 50px;
}

#submit{
    background-color: #005A5A;
    padding: 20px;
    font-size: 2em;
    border-radius: 30px;
    color: white;
}