.odds {
    background-color: rgba(204, 75, 75, 0.839);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#n2{
    color: blue;
    font-size: 36px;
}
#n3{
    font-size: 24px;
}
#n4{
    background-color: lightgreen;
    font-size: 24;
    font-weight: bold;
}