.sol-4 {
width: 33%;
}

.sol-6 {
width: 50%
}

.sol-12 {
width: 100%
}

@media screen and (max-width: 960px){
    .sol-4 {   
        width: 50%;
    }
    .sol-6 {
        width: 100%
        }

}

@media screen and (max-width: 765px){
    .sol-4 {   
        width: 100%;
    }
}